.app-header h1 {
    text-align: center;
    font-size: 2rem;
    background: linear-gradient(to right, #00c6ff, #0072ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
}
.app-header {
    position: sticky;
    top: 0;
    backdrop-filter: blur(10px);
    background: rgba(32, 32, 32, 0.3);
    z-index: 100;
}
